<div class="container">
    <div class="border border-dark rounded-start rounded-end w-200px">
     
        <app-display></app-display>

      <div class="row p-2">
        <div class="col-6">
         <app-calc-button>AC</app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button>/</app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button>*</app-calc-button>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-3">
          <app-calc-button>1</app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button>2</app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button>3</app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button>-</app-calc-button>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-3">
          <app-calc-button>4</app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button>5</app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button>6</app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button>+</app-calc-button>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-3">
          <app-calc-button>7</app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button>8</app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button>9</app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button>=</app-calc-button>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-9">
          <app-calc-button>0</app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button>.</app-calc-button>
        </div>
      </div>
    </div>
  </div>