<div class="container">
  <div class="border border-dark rounded-start rounded-end w-200px">
    <app-display [testoDisplay]="testoDisplay"></app-display>

    
      <div class="row p-2">
        <div class="col-6 " >
          <app-calc-button
          
            buttonText="AC"
            (buttonClick)="typeOfButton($event)"
          ></app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button
            buttonText="/"
            (buttonClick)="typeOfButton($event)"
          ></app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button
            buttonText="*"
            (buttonClick)="typeOfButton($event)"
          ></app-calc-button>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-3">
          <app-calc-button
            buttonText="1"
            (buttonClick)="typeOfButton($event)"
          ></app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button
            buttonText="2"
            (buttonClick)="typeOfButton($event)"
          ></app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button
            buttonText="3"
            (buttonClick)="typeOfButton($event)"
          ></app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button
            buttonText="-"
            (buttonClick)="typeOfButton($event)"
          ></app-calc-button>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-3">
          <app-calc-button
            buttonText="4"
            (buttonClick)="typeOfButton($event)"
          ></app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button
            buttonText="5"
            (buttonClick)="typeOfButton($event)"
          ></app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button
            buttonText="6"
            (buttonClick)="typeOfButton($event)"
          ></app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button
            buttonText="+"
            (buttonClick)="typeOfButton($event)"
          ></app-calc-button>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-3">
          <app-calc-button
            buttonText="7"
            (buttonClick)="typeOfButton($event)"
          ></app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button
            buttonText="8"
            (buttonClick)="typeOfButton($event)"
          ></app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button
            buttonText="9"
            (buttonClick)="typeOfButton($event)"
          ></app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button
            buttonText="="
            (buttonClick)="typeOfButton($event)"
          ></app-calc-button>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-9">
          <app-calc-button
            buttonText="0"
            (buttonClick)="typeOfButton($event)"
          ></app-calc-button>
        </div>
        <div class="col-3">
          <app-calc-button
            buttonText="."
            (buttonClick)="typeOfButton($event)"
          ></app-calc-button>
        </div>
      </div>
    </div>
  </div>