<div class="container">
  <div class="border border-dark rounded-start rounded-end w-200px">
    <div class="row p-4">
      <div class="col-12 text-bg-dark p-3 text-end">
        {{ testoDisplay }}
      </div>
    </div>
    <div class="row p-2">
      <div class="col-6">
        <button class="btn btn-light" (click)="getReset()">AC</button>
      </div>
      <div class="col-3">
        <button class="btn btn-light" (click)="pressButton('/')">/</button>
      </div>
      <div class="col-3">
        <button class="btn btn-light" (click)="pressButton('*')">*</button>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-3">
        <button class="btn btn-light" (click)="pressButton('1')">1</button>
      </div>
      <div class="col-3">
        <button class="btn btn-light" (click)="pressButton('2')">2</button>
      </div>
      <div class="col-3">
        <button class="btn btn-light" (click)="pressButton('3')">3</button>
      </div>
      <div class="col-3">
        <button class="btn btn-light" (click)="pressButton('-')">-</button>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-3">
        <button class="btn btn-light" (click)="pressButton('4')">4</button>
      </div>
      <div class="col-3">
        <button class="btn btn-light" (click)="pressButton('5')">5</button>
      </div>
      <div class="col-3">
        <button class="btn btn-light" (click)="pressButton('6')">6</button>
      </div>
      <div class="col-3">
        <button class="btn btn-light" (click)="pressButton('+')">+</button>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-3">
        <button class="btn btn-light" (click)="pressButton('7')">7</button>
      </div>
      <div class="col-3">
        <button class="btn btn-light" (click)="pressButton('8')">8</button>
      </div>
      <div class="col-3">
        <button class="btn btn-light" (click)="pressButton('9')">9</button>
      </div>
      <div class="col-3">
        <button class="btn btn-light" (click)="getResult()">=</button>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-9">
        <button class="btn btn-light" (click)="pressButton('0')">0</button>
      </div>
      <div class="col-3">
        <button class="btn btn-light" (click)="pressButton('.')">.</button>
      </div>
    </div>
  </div>
</div>
